<div class="btn-group btn-group-justified">
	<div class="btn-group">
		<button type="button" class="btn btn-default btn-lg">
			<span class="glyphicon glyphicon-fast-backward"></span> First
		</button>
	</div>
	<div class="btn-group">
		<button type="button" class="btn btn-default btn-lg">
			<span class="glyphicon glyphicon-backward"></span> Previous
		</button>
	</div>
	<div class="btn-group">
		<button type="button" class="btn btn-default btn-lg">
			<span class="glyphicon glyphicon-flag"></span> Flag
		</button>
	</div>
	<div class="btn-group">
		<button type="button" class="btn btn-default btn-lg">
			<span class="glyphicon glyphicon-list-alt"></span> Other
		</button>
	</div>
	<div class="btn-group">
		<button type="button" class="btn btn-default btn-lg">
			Next <span class="glyphicon glyphicon-step-forward"></span> 
		</button>
	</div>
	<div class="btn-group">
		<button type="button" class="btn btn-default btn-lg">
			End <span class="glyphicon glyphicon-fast-forward"></span> 
		</button>
	</div>
</div>