<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<span class="glyphicon glyphicon-chevron-right"></span>
				Medium Length Text Link
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<span class="glyphicon glyphicon-chevron-right"></span>
				Short Text Link
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<span class="glyphicon glyphicon-chevron-right"></span>
				Text Link With a Longer Name
			</div>
		</div>
	</div>
</div>