<!DOCTYPE html>
<html >
<head>
	<title>NG</title>
</head>
<body>
<script type="text/javascript">
(function()
{
var X = "I am a string to be compared against.";
var Y = "I am a string";

function startsWith( x , y )
{
    var string1 = x.split(" ");
    var string2 = y.split(" ");

    var substring1 = string1.substring(0, string2.length);

    if ( substring1 === string2 )
    {
       alert('True');
       return false;
    }
    else
    {
       alert('False');
       return false;
    }
}

startsWith(X,Y);
})();
</script>
	
JS.
</body>
</html>