<div class="row">
	<a href="#">
		<div class="col-md-3">
			<span class="glyphicon glyphicon-briefcase"></span> 
			Firstname M Last Name
		</div>
		<div class="col-md-1">
			Column Text
		</div>
		<div class="col-md-1">
			Data Value
		</div>
		<div class="col-md-1">
			Data Text
		</div>
		<div class="col-md-1">
			Data Text
		</div>
		<div class="col-md-1">
			Data Text
		</div>
		<div class="col-md-1">
			Data Text
		</div>
		<div class="col-md-1">
			Data Text Here
		</div>
	</a>
	<div class="col-md-2">
		<a href="#"><span class="glyphicon glyphicon-cloud-download"></span></a>
		<a href="#"><span class="glyphicon glyphicon-file"></span></a>
		<a href="#"><span class="glyphicon glyphicon-remove"></span></a>
	</div>
</div>