<form class="form-horizontal" role="form">
	<div class="row">
		<div class="col-md-8">
			<fieldset>
				<legend>Dates</legend>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label class="col-sm-3 control-label">From</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" placeholder="Enter Stuff">
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="col-sm-3 control-label">To</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" placeholder="Enter Stuff">
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="col-md-4">
			<fieldset>
				<legend>Show</legend>
				<div class="form-group">
					<label class="col-md-3 control-label">Records</label>
					<div class="col-md-9">
						<select class="form-control">
							<option>10</option>
							<option>25</option>
							<option>50</option>
							<option>100</option>
							<option>250</option>
						</select>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<fieldset>
				<legend>Company Information</legend>
				<div class="form-group">
					<label class="col-md-1 control-label">Company</label>
					<div class="col-md-11">
						<select class="form-control">
							<option>10</option>
							<option>25</option>
							<option>50</option>
							<option>100</option>
							<option>250</option>
						</select>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<fieldset>
				<legend>Personal</legend>
				<div class="form-group">
					<label class="col-md-1 control-label">Company</label>
					<div class="col-md-2">
						<input type="text" class="form-control" placeholder="Enter Stuff">
					</div>
					
					<label class="col-md-2 control-label">Person Name</label>
					<div class="col-md-2">
						<input type="text" class="form-control" placeholder="Enter Stuff">
					</div>
					
					<label class="col-md-2 control-label">User Status</label>
					<div class="col-md-2">
						<select class="form-control">
							<option>10</option>
							<option>25</option>
							<option>50</option>
							<option>100</option>
							<option>250</option>
						</select>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<fieldset>
				<legend>Course Meta</legend>
				<div class="form-group">
					<label class="col-md-1 control-label">Course</label>
					<div class="col-md-2">
						<select class="form-control">
							<option>10</option>
							<option>25</option>
							<option>50</option>
							<option>100</option>
							<option>250</option>
						</select>
					</div>
					<label class="col-md-2 control-label">Course Library</label>
					<div class="col-md-3">
						<select class="form-control">
							<option>10</option>
							<option>25</option>
							<option>50</option>
							<option>100</option>
							<option>250</option>
						</select>
					</div>
					<label class="col-md-1 control-label">Group</label>
					<div class="col-md-3">
						<select class="form-control">
							<option>10</option>
							<option>25</option>
							<option>50</option>
							<option>100</option>
							<option>250</option>
						</select>
					</div>
					<label class="col-md-1 control-label">Type</label>
					<div class="col-md-2">
						<select class="form-control">
							<option>10</option>
							<option>25</option>
							<option>50</option>
							<option>100</option>
							<option>250</option>
						</select>
					</div>
					<label class="col-md-2 control-label">Result</label>
					<div class="col-md-2">
						<select class="form-control">
							<option>10</option>
							<option>25</option>
							<option>50</option>
							<option>100</option>
							<option>250</option>
						</select>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
	<div class="row">
		<buttons-filter></buttons-filter>
	</div>
</form>