<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h4>Personal</h4>
				<div class="row">
					<div class="col-md-4">
						<label class="control-label">User Level</label>
					</div>
					<div class="col-md-7">
						<input type="text" class="form-control" placeholder="Placeholder Text" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label class="control-label">User Name</label>
					</div>
					<div class="col-md-7">
						<input type="text" class="form-control" placeholder="Placeholder Text" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label class="control-label">First Name</label>
					</div>
					<div class="col-md-7">
						<input type="text" class="form-control" placeholder="Placeholder Text" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label class="control-label">Mi. Initial</label>
					</div>
					<div class="col-md-7">
						<input type="text" class="form-control" placeholder="Placeholder Text" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label class="control-label">Last Name</label>
					</div>
					<div class="col-md-7">
						<input type="text" class="form-control" placeholder="Placeholder Text" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label class="control-label">Email</label>
					</div>
					<div class="col-md-7">
						<input type="email" class="form-control" placeholder="Placeholder Text" />
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<h4>Security</h4>
				<div class="row">
					<div class="col-md-4">
						<label class="control-label">Pasword</label>
					</div>
					<div class="col-md-7">
						<input type="password" class="form-control" placeholder="Placeholder Text" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label class="control-label">Security Question</label>
					</div>
					<div class="col-md-7">
						<select class="form-control">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label class="control-label">Answer</label>
					</div>
					<div class="col-md-7">
						<input type="text" class="form-control" placeholder="Placeholder Text" />
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<h4>Company</h4>
				<div class="row">
					<div class="col-md-4">
						<label class="control-label">Clients</label>
					</div>
					<div class="col-md-7">
						<select class="form-control">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label class="control-label">Job Title</label>
					</div>
					<div class="col-md-7">
						<select class="form-control">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label class="control-label">Emp. ID</label>
					</div>
					<div class="col-md-7">
						<input type="text" class="form-control" placeholder="Placeholder Text" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label class="control-label">FAFA</label>
					</div>
					<div class="col-md-7">
						<input type="text" class="form-control" placeholder="Placeholder Text" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label class="control-label">SSE</label>
					</div>
					<div class="col-md-7">
						<input type="text" class="form-control" placeholder="Placeholder Text" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label class="control-label">Wassup</label>
					</div>
					<div class="col-md-7">
						<input type="text" class="form-control" placeholder="Placeholder Text" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>