<div class="col-md-4">
	<div class="row">
		<div class="col-md-4">
			<label>Number</label>
			<span>{{"AnsNum"}}</span>
		</div>
		<div class="col-md-4">
			<div class="checkbox">
				<label><input type="checkbox"> Correct</label>
			</div>
			
		</div>
		<div class="col-md-4">
			<button type="button" class="btn btn-default btn-sm">
				<span class="glyphicon glyphicon-remove-sign"></span> Delete
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<textarea class="form-control" rows="3"></textarea>
		</div>
	</div>
</div>