<div class="row">
	<div class="col-md-12">
		<p>Edit Value: True</p>
		<h3>Module Settings</h3>
	</div>
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-2">
				<label>Module Name</label>
				<input type="text" class="form-control" placeholder="1">
			</div>
			<div class="col-md-1">
				<label>Scored</label>
				<input type="checkbox" class="form-control" />
			</div>
			<div class="col-md-4">
				<label>These User Levels can edit results</label>
				<select class="form-control">
					<option>10</option>
					<option>25</option>
					<option>50</option>
					<option>100</option>
					<option>250</option>
				</select>
			</div>
			<div class="col-md-3">
				<label>Requires Proctor &frasl; Evaluator</label>
				<input type="checkbox" class="form-control" />
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<buttons-save-cancel></buttons-save-cancel>
	</div>
</div>