<div class="row">
	<div class="col-md-12">
		<h2>Add New Question</h2>
	</div>
	
	<div class="col-md-1">
		<label>Type</label>
	</div>
	<div class="col-md-2">
		<select class="form-control">
			<option>10</option>
			<option>25</option>
			<option>50</option>
			<option>100</option>
			<option>250</option>
		</select>
	</div>
	<div class="col-md-1">
		<label>Number</label>
	</div>
	<div class="col-md-1">
		<input type="text" class="form-control" id="" placeholder="Stuff" />
	</div>
	<div class="col-md-1">
		<label>Weight</label>
	</div>
	<div class="col-md-1">
		<input type="text" class="form-control" id="" placeholder="Stuff" />
	</div>
	<div class="col-md-1">
		<label>Version</label>
	</div>
	<div class="col-md-1">
		{{"questionVersion"}}
	</div>
	<clearfix></clearfix>
	
	<div class="col-md-12">
		<h3>Image</h3>
	</div>
	<div class="col-md-12">
		<input type="file" class="form-control">
	</div>

	
	<div class="col-md-12">
		<h3>Audio</h3>
	</div>
	<div class="col-md-12">
		<input type="file" class="form-control">
	</div>
	<clearfix></clearfix>
	
	<div class="col-md-12">
		<h3>Question Body</h3>
	</div>
	<div class="col-md-12">
		<textarea class="form-control" rows="7"></textarea>
	</div>
	
	<div class="col-md-12">
		<h2>Answer Bank</h2>
	</div>
	<div class="col-md-12">
		<div class="row">
			<slide-answer-bank-item></slide-answer-bank-item>
			<slide-answer-bank-item></slide-answer-bank-item>
			<slide-answer-bank-item></slide-answer-bank-item>
		</div>
	</div>
</div>
