<div class="row">




	<div class="col-md-11">
		<h2>Add New Slide</h2>
	</div>
	<div class="col-md-1">
		<h2><span class="glyphicon glyphicon-remove-sign"></span></h2>
	</div>
	
	
	
	
	<div class="col-md-2">
		<label>Slide Header</label>
	</div>
	<div class="col-md-8">
		<input type="text" class="form-control" placeholder="Slide Header">
	</div>
	
	
	
	
	<div class="col-md-1">
		<label>Sequence</label>
	</div>
	<div class="col-md-1">
		<input type="text" class="form-control" placeholder="1">
	</div>
	
	
	
	
	<div class="col-md-2">
		<label>Template Name</label>
	</div>
	<div class="col-md-10">
		<select class="form-control">
			<option>10</option>
			<option>25</option>
			<option>50</option>
			<option>100</option>
			<option>250</option>
		</select>
	</div>
	
	
	
	
	<div class="col-md-2">
		<label>Body</label>
	</div>
	<div class="col-md-10">
		<textarea class="form-control" rows="7"></textarea>
	</div>
	
	
	
	
	
	<buttons-add-cancel></buttons-add-cancel>
	
	
	
	
	
</div>